@CHARSET "UTF-8";

*{margin:0;padding:0;border:0px;outline:0;font-size:12px;vertical-align:baseline;background:transparent;}
label,select,input,textarea{vertical-align:middle;}

.ellipsis_text{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:94%;}

.element_box{margin:50px;padding:10px;border:1px solid #000;width:280px;}
.mt10{margin-top:10px;}
.m10{margin:10px;}

.customize_form.hide{display:none;}

.list01{height:30px;list-style:none;}
/* windows safari not working calc */
.list01 li{/* width:calc(25% - 2px);margin-right:2px; */width:25%;height:30px;float:left;}